h1,
h2,
h3 {
    text-align: center;
}

td {
    border: solid 1px black;
    padding: 10px;
}

td.empty {
    background-color: lightgray;
}

table {
    margin: 0 auto;
    margin-bottom: 50px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}